<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 - nefu社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>

<!--完善导航栏，并进行页面拆分：创建navigation.html-->
<div th:insert="~{navigation :: nav}"></div>


<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>

            <form action="/publish" method="post">
                <!--完成更新功能：隐藏id,但是要传递id-->
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题(简单扼要)</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${title}" placeholder="问题标题....">
                </div>
                <div class="form-group">
                    <label for="description">问题补充(必填,请参照右侧提示):</label>
                    <textarea name="description" id="description" class="form-control" th:value="${description}" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <!--文本框内，默认placeholder，否则输入，则显示th:text="${tag}内容-->
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="输入标签,以，分隔">
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12" th:text="${error}" th:if="${error!=null}"></div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">

                            <button type="submit" class="btn btn-success btn-publish ">发布</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>

        </div>
    </div>
</div>

</body>
</html>